// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_feed {
  margin-top: 25px;
  #feed_file {
    float: left;
    margin-top: 7px;
  }
}

.feeds-list,
.products-list {
  a {
    text-decoration: none !important;
  }

  .delete-button {
    .button-text {
      margin-left: 5px;
    }
  }
}