<h1><%= @product.title %></h1>
<div class="product-images">

</div>
<div class="product-details">
  <span><%= link_to @product.url, @product.url %></span>
  <span><%= "$#{@product.price}" %></span>
</div>

