<p>Your feed file <%= @feed.basename %> has been successfully parsed, <%= @user.email %>.</p>
<p>You may now check your products in the <%= link_to "Products Section", user_feed_products_url(@user,@feed) %>.</p>
